In [35]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [91]:
pd.set_option('display.max_columns', None)
df=pd.read_csv(r"../data/7817_1.csv")

In [92]:
# Viewing first 5 data
df.head()

,id,asins,brand,categories,colors,dateAdded,dateUpdated,dimension,ean,keys,manufacturer,manufacturerNumber,name,prices,reviews.date,reviews.doRecommend,reviews.numHelpful,reviews.rating,reviews.sourceURLs,reviews.text,reviews.title,reviews.userCity,reviews.userProvince,reviews.username,sizes,upc,weight
0,AVpe7AsMilAPnD_xQ78G,B00QJDU3KY,Amazon,"Amazon Devices,mazon.co.uk",NaN,2016-03-08T20:21:53Z,2017-07-18T23:52:58Z,169 mm x 117 mm x 9.1 mm,NaN,kindlepaperwhite/b00qjdu3ky,Amazon,NaN,Kindle Paperwhite,"[{""amountMax"":139.99,""amountMin"":139.99,""curre...",2015-08-08T00:00:00.000Z,NaN,139.0,5.0,https://www.amazon.com/Kindle-Paperwhite-High-...,I initially had trouble deciding between the p...,"Paperwhite voyage, no regrets!",NaN,NaN,Cristina M,NaN,NaN,205 grams
1,AVpe7AsMilAPnD_xQ78G,B00QJDU3KY,Amazon,"Amazon Devices,mazon.co.uk",NaN,2016-03-08T20:21:53Z,2017-07-18T23:52:58Z,169 mm x 117 mm x 9.1 mm,NaN,kindlepaperwhite/b00qjdu3ky,Amazon,NaN,Kindle Paperwhite,"[{""amountMax"":139.99,""amountMin"":139.99,""curre...",2015-09-01T00:00:00.000Z,NaN,126.0,5.0,https://www.amazon.com/Kindle-Paperwhite-High-...,Allow me to preface this with a little history...,One Simply Could Not Ask For More,NaN,NaN,Ricky,NaN,NaN,205 grams
2,AVpe7AsMilAPnD_xQ78G,B00QJDU3KY,Amazon,"Amazon Devices,mazon.co.uk",NaN,2016-03-08T20:21:53Z,2017-07-18T23:52:58Z,169 mm x 117 mm x 9.1 mm,NaN,kindlepaperwhite/b00qjdu3ky,Amazon,NaN,Kindle Paperwhite,"[{""amountMax"":139.99,""amountMin"":139.99,""curre...",2015-07-20T00:00:00.000Z,NaN,69.0,4.0,https://www.amazon.com/Kindle-Paperwhite-High-...,I am enjoying it so far. Great for reading. Ha...,Great for those that just want an e-reader,NaN,NaN,Tedd Gardiner,NaN,NaN,205 grams
3,AVpe7AsMilAPnD_xQ78G,B00QJDU3KY,Amazon,"Amazon Devices,mazon.co.uk",NaN,2016-03-08T20:21:53Z,2017-07-18T23:52:58Z,169 mm x 117 mm x 9.1 mm,NaN,kindlepaperwhite/b00qjdu3ky,Amazon,NaN,Kindle Paperwhite,"[{""amountMax"":139.99,""amountMin"":139.99,""curre...",2017-06-16T00:00:00.000Z,NaN,2.0,5.0,https://www.amazon.com/Kindle-Paperwhite-High-...,I bought one of the first Paperwhites and have...,Love / Hate relationship,NaN,NaN,Dougal,NaN,NaN,205 grams
4,AVpe7AsMilAPnD_xQ78G,B00QJDU3KY,Amazon,"Amazon Devices,mazon.co.uk",NaN,2016-03-08T20:21:53Z,2017-07-18T23:52:58Z,169 mm x 117 mm x 9.1 mm,NaN,kindlepaperwhite/b00qjdu3ky,Amazon,NaN,Kindle Paperwhite,"[{""amountMax"":139.99,""amountMin"":139.99,""curre...",2016-08-11T00:00:00.000Z,NaN,17.0,5.0,https://www.amazon.com/Kindle-Paperwhite-High-...,I have to say upfront - I don't like coroporat...,I LOVE IT,NaN,NaN,Miljan David Tanic,NaN,NaN,205 grams

In [93]:
# Info data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1597 entries, 0 to 1596
Data columns (total 27 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    1597 non-null   object
 1   asins                 1597 non-null   object
 2   brand                 1597 non-null   object
 3   categories            1597 non-null   object
 4   colors                774 non-null    object
 5   dateAdded             1597 non-null   object
 6   dateUpdated           1597 non-null   object
 7   dimension             565 non-null    object
 8   ean                   898 non-null    float64
 9   keys                  1597 non-null   object
 10  manufacturer          965 non-null    object
 11  manufacturerNumber    902 non-null    object
 12  name                  1597 non-null   object
 13  prices                1597 non-null   object
 14  reviews.date          1217 non-null   object
 15  reviews.doRecommend   539 non-null    object
 16  reviews.numHelpful    900 non-null    float64
 17  reviews.rating        1177 non-null   float64
 18  reviews.sourceURLs    1597 non-null   object
 19  reviews.text          1597 non-null   object
 20  reviews.title         1580 non-null   object
 21  reviews.userCity      0 non-null      float64
 22  reviews.userProvince  0 non-null      float64
 23  reviews.username      1580 non-null   object
 24  sizes                 0 non-null      float64
 25  upc                   898 non-null    float64
 26  weight                686 non-null    object
dtypes: float64(7), object(20)
memory usage: 212.2+ KB

In [48]:
print(df.isnull().sum())

id                         0
asins                      0
brand                      0
categories                 0
colors                   823
dateAdded                  0
dateUpdated                0
dimension               1032
ean                      699
keys                       0
manufacturer             632
manufacturerNumber       695
name                       0
prices                     0
reviews.date             380
reviews.doRecommend     1058
reviews.numHelpful       697
reviews.rating           420
reviews.sourceURLs         0
reviews.text               0
reviews.title             17
reviews.userCity        1597
reviews.userProvince    1597
reviews.username          17
sizes                   1597
upc                      699
weight                   911
dtype: int64

Step 1: Deleting columns that are not relevant to our analysis

In [94]:
df.drop(columns=['reviews.userCity','reviews.userProvince','reviews.username','dateAdded','dateUpdated','reviews.date','reviews.sourceURLs'],inplace=True)

Step 2: Checking for remaining columns

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1597 entries, 0 to 1596
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   1597 non-null   object
 1   asins                1597 non-null   object
 2   brand                1597 non-null   object
 3   categories           1597 non-null   object
 4   colors               774 non-null    object
 5   dimension            565 non-null    object
 6   ean                  898 non-null    float64
 7   keys                 1597 non-null   object
 8   manufacturer         965 non-null    object
 9   manufacturerNumber   902 non-null    object
 10  name                 1597 non-null   object
 11  prices               1597 non-null   object
 12  reviews.doRecommend  539 non-null    object
 13  reviews.numHelpful   900 non-null    float64
 14  reviews.rating       1177 non-null   float64
 15  reviews.text         1597 non-null   object
 16  reviews.title        1580 non-null   object
 17  sizes                0 non-null      float64
 18  upc                  898 non-null    float64
 19  weight               686 non-null    object
dtypes: float64(5), object(15)
memory usage: 156.0+ KB

In [51]:
df['ean'].value_counts()

8.416670e+11    561
8.487190e+11    337
Name: ean, dtype: int64

Step 3: Deleting columns that contain multiple null values

In [96]:
df.drop(columns=['colors','dimension','ean','manufacturer','manufacturerNumber','reviews.doRecommend','reviews.numHelpful','sizes','upc','weight'],inplace=True)

Step 4: Delete 17 rows containing null values in the 'reviews.title' column

In [97]:
df=df[df['reviews.title'].notna()]

In [98]:
# Checking for remaining columns
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1580 entries, 0 to 1596
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              1580 non-null   object
 1   asins           1580 non-null   object
 2   brand           1580 non-null   object
 3   categories      1580 non-null   object
 4   keys            1580 non-null   object
 5   name            1580 non-null   object
 6   prices          1580 non-null   object
 7   reviews.rating  1177 non-null   float64
 8   reviews.text    1580 non-null   object
 9   reviews.title   1580 non-null   object
dtypes: float64(1), object(9)
memory usage: 80.2+ KB

Next, we will fill NaN values in the 'reviews.rating' column by assigning the most frequent rating for each product type to the missing entries

In [99]:
# Type data
df.dtypes

id                 object
asins              object
brand              object
categories         object
keys               object
name               object
prices             object
reviews.rating    float64
reviews.text       object
reviews.title      object
dtype: object

In [100]:
# checking for the count of each value of 'review rating' column before assigning the new values
df['reviews.rating'].value_counts()

5.0    741
4.0    236
3.0    124
1.0     42
2.0     34
Name: reviews.rating, dtype: int64

In [101]:
df['name'].value_counts()

Amazon Tap - Alexa-Enabled Portable Bluetooth Speaker               542
Amazon Fire TV                                                      166
Amazon Premium Headphones                                           133
Fire HD 6 Tablet                                                     87
Kindle Fire HDX 7"                                                   53
                                                                   ...
Amazon Tap Sling Cover - Green                                        3
Fire Kids Edition Tablet                                              3
Fire HD 8 Tablet with Alexa                                           3
Amazon Tap Sling Cover - White                                        3
Certified Refurbished Kindle Voyage E-reader with Special Offers      3
Name: name, Length: 62, dtype: int64

using the mode function to find the most frequent value for each group

In [102]:
df['reviews.rating'] = df.groupby('name')['reviews.rating'].apply(lambda x: x.fillna(x.mode().iloc[0]) if not x.mode().empty else None)

In [103]:
# checking for the count of each value of 'review rating' column after assigning the new values
df['reviews.rating'].value_counts()

5.0    1031
4.0     295
3.0     178
1.0      42
2.0      34
Name: reviews.rating, dtype: int64

In [104]:
# data cleaned info
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1580 entries, 0 to 1596
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              1580 non-null   object
 1   asins           1580 non-null   object
 2   brand           1580 non-null   object
 3   categories      1580 non-null   object
 4   keys            1580 non-null   object
 5   name            1580 non-null   object
 6   prices          1580 non-null   object
 7   reviews.rating  1580 non-null   float64
 8   reviews.text    1580 non-null   object
 9   reviews.title   1580 non-null   object
dtypes: float64(1), object(9)
memory usage: 80.2+ KB

In [105]:
# removing duplicate rows 
df = df.drop_duplicates()

In [106]:
df.shape

(1551, 10)

In [108]:
# save the cleaned dataframe
df.to_csv('../data/cleaned_data.csv', index=False)